# This is a basic workflow to help you get started with Actions

name: Check repository commits

on:
  schedule:
  - cron:  '*/15 * * * *'

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: |
          git switch qa
          n_commits_behind=$(git diff --stat 'qa@{now}..main@{1 day ago}' 2>/dev/null | wc -l)
          if [ $n_commits_behind -gt 0 ]
          then
            echo "You need to move code to production"
          else
            echo "Everything is OK"
          fi        
